<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MakeCoin"
        tools:targetApi="31">
        <activity
            android:name=".view.Criar_categoria_despesa.activity_criar_categoria_despesa"
            android:exported="false" />
        <activity
            android:name=".view.telaDeTodosRegistros.activity_tela_de_todos_os_registros"
            android:exported="false" />
        <activity
            android:name=".view.telaEditarRegistros.activity_tela_editar_as_despesas"
            android:exported="false" />
        <activity
            android:name=".view.telaEditarRegistros.activity_tela_editar_despesa_escolher_categorias"
            android:exported="false" />
        <activity
            android:name=".view.telaEditarRegistros.activity_tela_editar_despesa"
            android:exported="false" />
        <activity
            android:name=".view.telaEditarRegistros.activity_tela_editar_escolher_categorias"
            android:exported="false" />
        <activity
            android:name=".view.telaEditarRegistros.activity_tela_editar_os_registros_receitas"
            android:exported="false" />
        <activity
            android:name=".view.telaEditarRegistros.activity_tela_visualizar_despesas"
            android:exported="false" />
        <activity
            android:name=".view.telaEditarRegistros.activity_tela_visualizar_registro"
            android:exported="false" />
        <activity
            android:name=".view.TelaDasCategorias.activity_tela_das_categorias_receitas"
            android:exported="false" />
        <activity
            android:name=".view.TelaDasCategorias.activity_tela_das_categorias_despesas"
            android:exported="false" />
        <activity
            android:name=".view.TelaPrincipalCategorias.activity_tela_principal_categorias_receitas"
            android:exported="false" />
        <activity
            android:name=".view.TelaPrincipalGraficos.TelaPrincipalGraficos"
            android:exported="false" />
        <activity
            android:name=".view.TelaPrincipalCategorias.TelaPrincipalCategorias"
            android:exported="false" />
        <activity
            android:name=".view.telaConfiguracoesEditar.activity_tela_configuracoes_editar"
            android:exported="false" />
        <activity
            android:name=".view.TelaConfiguracoes.TelaConfiguracoes"
            android:exported="false" />
        <activity
            android:name=".view.TelaPrincipal.TelaPrincipal"
            android:exported="false" /> <!-- Atividade da primeira tela -->
        <activity
            android:name=".view.LoginUsuarios.CadastroDosUsuarios"
            android:exported="false" /> <!-- Atividade da segunda tela de cadastro -->
        <activity
            android:name=".view.CadastroUsuarios.CadastroUsuarios"
            android:exported="false" />
        <activity
            android:name=".view.CadastroUsuarios.activity_splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>